@font-face {
  font-family: 'anticon-custom';
  src: url('./iconfont.eot') ;
  src: url('./iconfont.eot?#iefix') format('embedded-opentype'), url('./iconfont.woff') format('woff'), url('./iconfont.ttf') format('truetype'), url('./iconfont.svg#iconfont') format('svg');
}

.anticon:before,
.ant-select-arrow:before,
.ant-select-selection--multiple .ant-select-selection__choice__remove:before,
.ant-collapse > .ant-collapse-item > .ant-collapse-header .arrow:before,
.ant-calendar-picker-icon:after,
.ant-time-picker-icon:after,
.ant-dropdown-menu-submenu-title:after,
.ant-input-number-handler-up-inner:before,
.ant-input-number-handler-down-inner:before,
.ant-menu-submenu-vertical > .ant-menu-submenu-title:after,
.ant-menu-submenu-inline > .ant-menu-submenu-title:after,
.ant-modal-close-x:before,
.ant-notification-notice-close-x:after,
.ant-pagination-jump-prev:focus:after,
.ant-pagination-jump-next:focus:after,
.ant-pagination-jump-prev:hover:after,
.ant-pagination-jump-next:hover:after,
.ant-tabs-tab-prev-icon:before,
.ant-tabs-tab-next-icon:before,
.ant-pagination-prev .ant-pagination-item-link:after,
.ant-pagination-next .ant-pagination-item-link:after,
.ant-select-selection__clear:before,
.ant-select-dropdown.ant-select-dropdown--multiple .ant-select-dropdown-menu-item:after,
.ant-cascader-menu-item-expand:after,
.ant-cascader-menu-item-loading:after,
.ant-calendar .ant-calendar-clear-btn:after,
.ant-time-picker-panel-clear-btn:after,
.has-success.has-feedback:after,
.has-warning.has-feedback:after,
.has-error.has-feedback:after,
.is-validating.has-feedback:after,
.ant-select-tree li span.ant-select-tree-icon_loading:after,
.ant-select-tree li span.ant-select-tree-switcher.ant-select-tree-switcher_open:after,
.ant-select-tree li span.ant-select-tree-switcher.ant-select-tree-switcher_close:after,
.ant-tree li span.ant-tree-icon_loading:after,
.ant-tree li span.ant-tree-switcher.ant-tree-switcher_open:after,
.ant-tree li span.ant-tree-switcher.ant-tree-switcher_close:after,
.ant-tree.ant-tree-show-line li span.ant-tree-switcher.ant-tree-switcher-noop:after,
.ant-tree.ant-tree-show-line li span.ant-tree-switcher.ant-tree-switcher_open:after {
  font-family: 'anticon-custom', sans-serif !important;
}

@media \0screen {
  .ant-checkbox-checked .ant-checkbox-inner:before,
  .ant-checkbox-checked .ant-checkbox-inner:after,
  .ant-select-tree-checkbox-checked .ant-select-tree-checkbox-inner:before,
  .ant-select-tree-checkbox-checked .ant-select-tree-checkbox-inner:after,
  .ant-tree-checkbox-checked .ant-tree-checkbox-inner:before,
  .ant-tree-checkbox-checked .ant-tree-checkbox-inner:after {
    font-family: 'anticon-custom', sans-serif !important;
  }
}