@import '~antd/es/style/themes/default.less';

* {
  user-select: none !important;
}

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;

    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;

        > span {
          display: block;
        }
      }
    }
  }
}

:global {
  .ant-layout-sider,
  .basicLayout .ant-layout,
  .ant-pro-sider-menu-logo,
  a,
  .ant-menu,
  .ant-pro-global-header-trigger,
  .antd-pro-components-global-header-index-right .antd-pro-components-global-header-index-action,
  .ant-dropdown-menu-item,
  .ant-dropdown-menu-submenu-title,
  .ant-menu-dark .ant-menu-submenu-title .ant-menu-submenu-arrow,
  .ant-menu-dark .ant-menu-sub .ant-menu-submenu-title .ant-menu-submenu-arrow,
  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    transition: none !important;
  }

  .ant-pro-basicLayout-content {
    margin: 10px !important;
  }

  code {
    color: blueviolet !important;
  }

  .ant-dropdown-menu {
    padding: 0 !important;

    .ant-dropdown-menu-item {
      &:first-child {
        border-radius: 3px 3px 0 0;
      }

      &:last-child {
        border-radius: 0 0 3px 3px;
      }
    }
  }

  .ant-menu-dark .ant-menu-item:hover,
  .ant-menu-dark .ant-menu-submenu-title:hover {
    background-color: #096dd9 !important;
  }

  .ant-menu-vertical .ant-menu-item,
  .ant-menu-vertical-left .ant-menu-item,
  .ant-menu-vertical-right .ant-menu-item,
  .ant-menu-inline .ant-menu-item,
  .ant-menu-vertical .ant-menu-submenu-title,
  .ant-menu-vertical-left .ant-menu-submenu-title,
  .ant-menu-vertical-right .ant-menu-submenu-title,
  .ant-menu-inline .ant-menu-submenu-title {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .ant-menu-submenu-popup .ant-menu-vertical > .ant-menu-item {
    &:first-child {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }

    &:last-child {
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
    }
  }

  .ant-menu-submenu-popup .ant-menu-vertical > .ant-menu-submenu {
    &:first-child .ant-menu-submenu-title {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }

    &:last-child .ant-menu-submenu-title {
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
    }
  }
}
